.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  gap: 2rem;
  align-items: center;
}

.login::before {
  display: block;
  content: '';
  background: url('../../Assets/login.jpg') center no-repeat;
  background-size: cover;
  height: 100%;
}

.forms {
  max-width: 30rem;
  padding: 1rem;
}

@media (max-width: 40rem) {
  .login {
    grid-template-columns: 1fr;
  }
  .login::before {
    display: none;
  }
  .forms {
    max-width: 100%;
  }
}